<%- include('../inc/top') %> 

<h1>Thêm mới SP</h1>
<%= url  %>
<form method="post" action="" enctype="multipart/form-data">
    <input type="file" name="file_anh" />
    <button type="submit">Upload</button>
</form>

<%- include('../inc/bottom') %>